body{
    font-family: 'Inter', sans-serif;
    margin: 0;
}



.banner-section {
    background-image: url(images/donation1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 100px;
}
.banner-section h1{
    font-size: 65px;
    font-weight: 700;
    color: #FFFFFF;
    margin: 0;
}
.paragraph {
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    margin: 5px 0 0 0;
    text-align: center;
}
.button{
    padding: 30px 0px 150px 0px;
}
.main-button{
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF;
    background: #FF5959;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}




.black{
    color: #707070;
}
.donate-section{
    text-align: center;
    padding-top: 100px;
}
.second-header {
    font-size: 45px;
    font-weight: 700;
    color: #121212;
    margin: 0 0 15px 0;
    text-align: center;
}
.donate-section ul li{
    list-style: none;
    display: inline-block;
    padding: 0px 5px;
}
.donate-section .donate-amount{
    padding-top: 60px;
}
.donate-section .donate-amount ul li a{
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
    color: #707070;
    background: #FAFAFA;
    padding: 40px 15px;
}
#second-amount a{
    color:#FF5959;
    background:#FFEEEE;
    border: 2px solid #FF5959;
}
.donate-section .form{
    padding-top: 70px;
}
.donate-section .form-button{
    padding-top: 35px;
}
.donate-section .form input{
    width: 50%;
    text-align: center;
    padding: 10px 0px;
    border: none;
    border-bottom: 2px solid #DADADA;
}




.donate-plan{
    padding-top: 110px;
}
.donate-plan .main-plane {
    display: flex;
    margin: 3% 7%;
}
.donate-plan .same-content{
    background:#EDF5F6;
    padding: 50px 20px 50px 20px;
    border-radius: 8px;
}
#second-content {
    background-color: #FFEEEE;
    margin: 0px 15px;
}
.donate-plan .third-content{
    background-color: #FFF4D6;
}
.donate-plan .same-content h3{
    color: #121212;
    font-size: 24px;
    font-weight: 600;
}
.donate-plan .same-content p{
    color: #707070;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}



.get-update{
    padding-top: 40px;
}
.get-update .subscriber{
    text-align: center;
    background-color: #FFF4D6;
    width: 72%;
    margin:40px auto 0;
    padding: 65px 0px;
}
.added-button{
    padding: 7px 40px;
    font-size: 16px;
    font-weight: 500;
}
.get-update .subscriber input{
    width: 28%;
    padding: 10px 10px;
    background: #D9D9D9;
    border: navajowhite;
    border-radius: 5px;
}




